/* BACKGROUND STYLE */
body{
  font-family: 'Roboto', ;
}
.navbar{
  background-color: #2bb5fc;
}

.pimg2, .pimg3, .pimg4{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 400px;
}

.pimg2{
    background-image: url(../imagenes/marketing1.jpg);
}
.pimg3{
    background-image: url(../imagenes/textil0.jpg);
}
.pimg4{
    background-image: url(../imagenes/maquinas1.jpg);
}

.section{
    padding: 50px 50px;
}

.section-blue{
    color: white;
    background-color: #2bb5fc;
}

.img-fluid{
  width: 250px;
  height: auto;
  align-content: center;

}

.facebook{
  width: 65px;
  height: auto;
  align-items: center;
}
/* FORM STYLES */
form {
    width: 100%;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 30px;
  }
  h2{
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
    }
  
  input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
  }
  
  textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
  }
  
  #boton{
    background: #0617ac;
    color: #ffffff;
    padding: 20px;
  }
  
  #boton:hover{
    cursor: pointer;
  }


h1{
  text-align: center;
  font-size: 40px;
  background: rgba(#2bb5fc, 0.5);
  margin-top: 20px
}